// app global css in SCSS form

* {
    overscroll-behavior: none;
}

.fullHeightBig{
    height: calc(100vh - 68px);
}

.fullHeightSmall{
    height: 100vh;
}

.q-page-container {
    background: linear-gradient(0deg, rgb(34 118 195 / 13%) 0%, rgb(16 92 128 / 51%) 100%);
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.text-pacifico {
  font-family: Pacifico;
}